# Description
Trial description

In [1]:
# The code was removed by Watson Studio for sharing.

,Country or Area,Commodity - Transaction,Year,Unit,Quantity,Quantity Footnotes,Quantity Footnotes.1
0,Algeria,Coking coal - imports,2018.0,"Metric tons, thousand",12.0,NaN,NaN
1,Algeria,Coking coal - imports,2017.0,"Metric tons, thousand",0.0,NaN,NaN
2,Algeria,Coking coal - imports,2016.0,"Metric tons, thousand",0.0,NaN,NaN
3,Algeria,Coking coal - imports,2015.0,"Metric tons, thousand",0.0,NaN,NaN
4,Algeria,Coking coal - imports,2014.0,"Metric tons, thousand",20.0,NaN,NaN